<h1>Listing asses</h1>

<table>
  <tr>
  </tr>

<% for ass in @asses %>
  <tr>
    <td><%= link_to 'Show', ass %></td>
    <td><%= link_to 'Edit', edit_ass_path(ass) %></td>
    <td><%= link_to 'Destroy', ass, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ass', new_ass_path %>
